@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'react-toastify/dist/ReactToastify.css';


*{
    background-color: '#FFFFFF';
}

.TabBox .css-1o415lm {
    padding-left: 0 !important;
    padding-right: 2rem !important;
  }
  
/* * {
    margin: 0;
   height: auto !important;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

@media (min-width: 992px) {
    .menu {
        display: none;
    }
}
